*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root
{
    --amarillo-led: #ffcf23;
    --violeta-caja: #6a4e74;
    --arcilla: #cfb59a;
    --verde-pote: #89ac9e;
    --gris: #A3A3A3;
}

body
{
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body div h2
{
    display: flex;
    font-size: large;
    margin: 5px;
}

a:hover
{
    background-color: var(--amarillo-led);
}

a:active
{
    background-color: var(--violeta-caja);
    color: orange;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: max-content;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--verde-pote);
}

header div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header div h1
{
    display: none;
}

header div img
{
    width: 10vh;
    padding: 5px;
}

header div nav ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 25px;
    padding: 5px;
    flex-wrap: wrap;
}

nav ul li a
{  
    color: black;
    text-decoration: none;
    margin: 10px;
    padding: 2px
}

a.aca
{
    color:black;
    background-color: var(--amarillo-led); 
}

main
{
    display: flex;
    justify-content: center;
}

nav.cajalinks
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button
{
    background-color: var(--amarillo-led);
    margin: 5vw;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button a
{
    text-decoration: none;
    color: black;
    text-transform: none;
    font-size: 20px;
}

main div
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    padding: 5px;
    background-color: var(--verde-pote);
}

main div div img
{
    width: 60vw;
    padding: 5px;
}

footer nav 
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 5vw;
}